[Desktop Entry]
Name=Nine
Comment=Property management desktop application.
Exec=Nine-1.0.0-x86_64.AppImage
Icon=nine
Type=Application
Categories=Office;Finance;
Terminal=false
StartupWMClass=Nine
X-AppImage-Version=1.0.0
X-AppImage-Name=Nine
X-AppImage-Arch=x86_64
X-AppImage-Payload-License=MIT
Keywords=property;management;landlord;rental;lease;tenant;invoice;
